.container{
    display: flex;
}

.postImg{
    height: 250px;
    cursor: pointer;
    width: 250px;
    margin: 5px 5px;
}

.imageContainer{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(236, 236, 236);
    padding-left: 20px;
    padding-top: 10px;
}